<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="registrasi.css">
</head>
<body>
  <!-- <h1>Silahkan isi form dibawah ini untuk mendaftar</h1>
  <form action="/registrasi" method="post">
    <div>
        <input type="text" name="nama" placeholder="Nama" required>
    </div>
    <div>
        <input type="text" name="email" placeholder="Email" required>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password" required>
    </div>
    <button>Registrasi</button> -->
    <form action="/login" method="post">
    <div class="auth">
      <div class="login">
          <h2>SIGN UP</h2>
          <div class="InputBox">
            <input type="text" name="nama" required="required">
            <span>Nama</span>
            <i></i>
        </div>
          <div class="InputBox">
              <input type="text" name="email" required="required">
              <span>Email</span>
              <i></i>
          </div>
          <div class="InputBox">
              <input type="password" name="password" required="required">
              <span>Password</span>
              <i></i>
          </div>
           <input type="submit" value="Register" a href="login" > 
  </form>
</body>
</html>
